body {
    background-color: #54414e;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  justify-content: center;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  color: #f7b32b;
  font-weight: bold;
  text-shadow: 2.5px 2.5px 2.5px black;
}
h1 {
  color: #c5ebc3;
  text-shadow: 2px 2px 2px #875c74;
  text-align: center;
}
h2 {
  text-align: center;
  color: #c5ebc3;
  text-decoration-line: underline;
  text-decoration-color: black ;
}
#reset-button{
  background-color: #c5ebc3;
  color: #54414e ;
  border: 2px solid black;
  justify-content: center;
  font-size: x-large;
  width: 25%;
  margin: auto;
  text-align: center;
}
